In [25]:
import pandas as pd
from numpy import median

In [26]:
# Read the data
A = pd.read_csv("data-2-sample.txt", sep=" ", header=None)

# Drop last column
A = A.iloc[:, :-1]

# Find A transpose
AT = A.T

# Calculate AAT
AAT = A.dot(AT)

# Calculate AATA
AATA = AAT.dot(A)

# Show first row
AATA.head(1)

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
0,1.277340e+11,1.270403e+11,1.261336e+11,1.276232e+11,1.277263e+11,1.262043e+11,1.305915e+11,1.263109e+11,1.273013e+11,1.240552e+11,...,1.273313e+11,1.309680e+11,1.288276e+11,1.265437e+11,1.259945e+11,1.266185e+11,1.279121e+11,1.272910e+11,1.232555e+11,1.258357e+11