In [106]:
import pandas as pd
from numpy import median

In [107]:
df = pd.read_csv("data-1-sample.txt", sep=".", header=None)
df = df.rename(columns={0: "index", 1: "value"})
df1 = df

df1

     index       value
0       48  6926348299
1       48   901672086
2       17   490515847
3       28  5007165581
4       57   159669736
..     ...         ...
995     54  9751479126
996     50  4287071725
997     45     1682852
998     59  4321948835
999     28  9892442677

[1000 rows x 2 columns]

In [100]:

max_value = df["value"].max()
min_value = df["value"].min()

df["dist_max"] = abs(max_value-df["value"])
df["dist_min"] = abs(df["value"]-min_value)

df["max-min"] = df["dist_max"] - df["dist_min"]

df

     index       value     dist_max    dist_min      max-min
0       48  6926348299  87068063699  6925350620  80142713079
1       48   901672086  93092739912   900674407  92192065505
2       17   490515847  93503896151   489518168  93014377983
3       28  5007165581  88987246417  5006167902  83981078515
4       57   159669736  93834742262   158672057  93676070205
..     ...         ...          ...         ...          ...
995     54  9751479126  84242932872  9750481447  74492451425
996     50  4287071725  89707340273  4286074046  85421266227
997     45     1682852  93992729146      685173  93992043973
998     59  4321948835  89672463163  4320951156  85351512007
999     28  9892442677  84101969321  9891444998  74210524323

[1000 rows x 5 columns]

In [101]:
min_dist = df["max-min"].min()

min_dist

-93993414319

In [102]:
df[df["max-min"] == min_dist]

     index        value  dist_max     dist_min      max-min
481      7  93994411998         0  93993414319 -93993414319

In [108]:
# Count number of vaues less than value in row
def count_less(values, row):
    values = [value for value in values if value <= row["value"]]
    cnt_values = len(values)
    return cnt_values

#df1["less"] = df1[df1["value"] >= df1["value"]].count()
values = list(df1["value"])

# Count how many values have smaller value
df1["cnt_less"] = df1.apply(lambda row: count_less(values, row),axis=1)

# Drop values with less<=len(df)/2
df1 = df1[df1["cnt_less"] <= df1.shape[0]/2]

df1

     index       value  cnt_less
1       48   901672086       178
2       17   490515847       111
4       57   159669736        43
5       47  3769881474       439
6       53    43389306        14
..     ...         ...       ...
991     37  1991268409       277
992     63  2860880267       356
996     50  4287071725       486
997     45     1682852         2
998     59  4321948835       489

[500 rows x 3 columns]

In [104]:
# Count number of vaues less than value in row
def count_greater(values, row):
    values = [value for value in values if value >= row["value"]]
    cnt_values = len(values)
    return cnt_values

#df1["less"] = df1[df1["value"] >= df1["value"]].count()
values = list(df1["value"])

# Count how many values have smaller value
df1["cnt_greater"] = df1.apply(lambda row: count_less(values, row),axis=1)

# Drop values with less<=len(df)/2
df1 = df1[df1["cnt_greater"] >= df1.shape[0]]

df1

<ipython-input-104-33f461d53207>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["cnt_greater"] = df1.apply(lambda row: count_less(values, row),axis=1)

,index,value,dist_max,dist_min,max-min,cnt_less,cnt_greater
151,45,4459926737,89534485261,4458929058,85075556203,495,495
295,27,4452314722,89542097276,4451317043,85090780233,494,494
603,52,4354921829,89639490169,4353924150,85285566019,490,490
764,49,4429795303,89564616695,4428797624,85135819071,493,493
869,40,4377178623,89617233375,4376180944,85241052431,491,491
943,45,4411933693,89582478305,4410936014,85171542291,492,492

In [105]:
print("True median:", df["value"].median())
print("My median:", df1["value"])

True median: 4520511638.5
My median: 151    4459926737
295    4452314722
603    4354921829
764    4429795303
869    4377178623
943    4411933693
Name: value, dtype: int64